html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  cursor: crosshair;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

html,
body,
svg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

.path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#pen {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background: rgba(0,0,0,1);
  border: solid 25px white;
  cursor: default;
  box-shadow: 0 0 3px rgba(0,0,0,.33);
  height: 60px;
  width: 60px;
}
