html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  cursor: crosshair;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

html,
body,
svg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

.path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#pen {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background: rgba(0,0,0,1);
  border: solid 5px white;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,.33);
  height: 60px;
  width: 60px;
}

#modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,.9);
  cursor: default;
  text-align: center;
  display: none;
}

#modal > input {
  display: none;
}

#modal > div {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  display: none;
}

#modal > input:checked + div {
  display: inline-block;
}

#modal > div > input {
  display: none;
}

#modal > div > label {
  color: black;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background: currentColor;
  margin: 10px 8px;
  border: solid 5px white;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,.33);
  height: 60px;
  width: 60px;
  vertical-align: top;
}

#modal > div > label:hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(255,255,255,.33);
}

#modal > div > label[data-label]::before {
  content: attr(data-label);
  line-height: 50px;
  color: #ccc;
}

#modal > div > input:checked + label {
  font-size: 60px;
  transform: rotate(45deg);
}

#modal > div > input:checked + label::before {
  content: '';
  display: block;
  position: absolute;
  border: solid .07em white;
  border-radius: 4px;
  border-top: none;
  border-left: none;
  height: .6em;
  width: .3em;
  bottom: .15em;
  right: .3em;
}

#modal > div > input:checked + label.inverse::before {
  border-color: black;
}

#modal > div > label.inverse:hover::after {
  background: rgba(0,0,0,.1);
}

#modal > div > label.alt:hover {
  border-color: #8bbbff;
}

#modal > div > label.alt:hover::before {
  color: #8bbbff;
}

#modal > div > input:checked + label.alt,
#modal > div > input:checked + label.alt.inverse::before {
  border-color: #89ad48;
}

#modal > div > label.alt:hover::after,
#modal > div > input:checked + label.alt::before {
  display: none;
}

#modal > div > input:checked + label.alt.inverse::before {
  display: block;
}

#modal-color + div {
  max-width: 490px;
}

#modal-opacity + div {
  max-width: 400px;
}

#modal-layer + div {
  max-width: 240px;
}
