<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>QuickDraw: Draw Quickly!</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />

  <link href="/css/app.css" rel="stylesheet" media="screen" />

  <!--
    Declare the global namespace and
    cache the initial drawing paths
  -->
  <script>
    window.qd = {
      _env: '{{{ env }}}',
      _initial: {{{ initial }}},
      _owner: {{{ owner }}},
    }
  </script>

  <!-- ==============
  ESSENTIAL RESOURCES
  =============== -->

  <!--
    `yepnope` (via CDN) handles fetching js resources
    `spin` provides a loading indicator (merged with preinitialize in production)
    `preinitialize` begins the app's initialization
  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/yepnope/1.5.4/yepnope.min.js"></script>
  <script>
    window.yepnope || document.write('<script src="/js/libs/yepnope-1.5.4.min.js"><\/script>');

    if (qd._env != 'production') {
      document.write('<script src="/js/libs/spin-1.2.5.min.js"><\/script>');
      document.write('<script src="/js/app/preinitialize.js"><\/script>');
    } else {
      document.write('<script src="/js/preinitialize.min.js"><\/script>');
    }
  </script>
</head>

<body class="move">
  <!-- #loading is a temporary element to display the loading spinner while the app loads -->
  <div id="loading"></div>
  <!-- #window creates a container with fixed height & width and overflow hidden -->
  <div id="window">
    <!-- #ui holds a separate canvas for fixed position ui elements -->
    <div id="ui"></div>
    <!-- #canvas creates a container to hold the entire 3200x3200 drawing frame -->
    <div id="canvas"></div>
  </div>
</body>
</html>
